@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
  
    <h1 class="display-4">Soy Abraham Canul</h1>
    
    <h2>Soy un desarrollador fullstack aprendiendo tecnologías de .NET</h2>
    <img id="foto"
         src="~/imagenes/foto.jpg" alt="Foto de Abraham" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy un estudiante de Ingeniería en Sistemas Computacionales al que le apasiona el
            desarrollo de software, y en los ultimos años me he dedicado a realizar proyectos 
            para diferentes empresas y también personales. Hago uso de diferentes tecnologías 
            como php, Java, C#/ASP.Net, SQL server y Mysql.
        </p>
    </div>
</div>

<div class="row justify-content-md-align-center text-center">
    <div class="col col-3 bg-white">
        <h3>Back-end</h3>
        <p>
            Trabajo en el desarrollo, pruebas automáticas y puesta en producción con entrega continua
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            ASP.NET Core, SQL Server
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Blazor</li>
            <li>Entity Framework</li>
            <li>Dapper</li>
            <li>Queries espaciales</li>
            <li>Principios SOLID</li>
        </ul>
    </div>
    <div class="col col-3 bg-white">
        <h3>Front-end</h3>
        <p>
            Trabajo en el desarrollo, pruebas automáticas y puesta en producción con entrega continua
        </p>

        <p class="text-primary cabecera">
            Stack:
        </p>

        <p>
            ASP.NET Core, SQL Server
        </p>

        <p class="text-primary cabecera">
            Experiencia:
        </p>

        <ul>
            <li>Web APIs</li>
            <li>ASP.NET Core MVC</li>
            <li>Blazor</li>
            <li>Entity Framework</li>
            <li>Dapper</li>
            <li>Queries espaciales</li>
            <li>Principios SOLID</li>
        </ul>
    </div>
</div>